<form action="/signup" method="post">
    <input type="email" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
    <input type="password" name="" placeholder="Reapeat passwword">
    <button type="submit">Sign up</button>

    <h2>You already have an account? <a href="/signup">Login</a></h2>
</form>